@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Ubuntu:700');

/*código estilo botão dropdown-icon mover para  final na página depois*/
#dropdown-icon {
  width: 35px;
  height: 24px;
  position: absolute;
  top: 22px;
  right: 1rem;
  cursor: pointer;
}
.humburger-icon{
  width: 35px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #93adad;
  position: absolute;
  top: 10px;
  transition: .3s  linear 0s;
}
.humburger-icon:before, .humburger-icon:after{
  content: '';
  position: absolute;
  width: 35px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #93adad;
  transition: .3s;
}
.humburger-icon:before{
  top: 10px;
}
.humburger-icon:after{
  top: -10px;
}
.humburger-icon.ativo:before{
  top: 0;
  transform: rotate(45deg);
}
.humburger-icon.ativo:after{
  top: 0;
  transform: rotate(135deg);
}
/*final dropdown-icon*/
/*Classes que serão setadas pelo javascript dinamicamente*/
.sumiu{
  height: 0;
  overflow: hidden;
  opacity: 0;
}
.ativo{
  background-color: transparent;
}
.dropdown{
  height: 100vh;
}
/*Final das classes que serão setadas pelo javascript dinamicamente*/
*{
  box-sizing: border-box;
}
body{
  box-sizing: inherit;
  font-size: 1.5rem;
}
.container{
  margin: 0 auto;
  padding: 70px 1rem 0 1rem;
  height: auto;
  width: 100%;
  background-image: url(../img/bg.jpg);
  background-attachment: fixed;
}
h1{
  font-family: 'Ubuntu', sans-serif;
}
header{
  font-family: 'Ubuntu', sans-serif;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  background: #4b494c;
  color: #93adad;
  box-shadow: 0.5px 0.5px 0.5px #3c3131;
  text-transform: uppercase;
  transition: .3s all ease-in-out;
}
header h1 {
  font-size: 2rem;
	margin: auto 0;
	padding: 1rem 0 1rem 1rem;
  display: inline-block;
  transition: .3s all ease-in-out;
}
nav {
  display: block;
	height: 0;
	width: 100vw;
  position: absolute;
  overflow: hidden;
  text-align: center;
  transition: height .3s linear 0s;
  background: inherit;
}
nav ul{
	height: 65vh;
	width: 100vw;
}
nav ul li{
	padding: 1rem 0;
	width: 100vw;
  transition: .2s all ease-in;
}
nav ul li:hover{
  background-color: #555656;
}
nav ul li a{
	text-decoration: none;
	font-size: 3rem;
	color: #93adad;;
  padding: 0 5rem;
  transition: .3s all ease-in;
}
nav > a{
  color:#93adad;
  font-size: 3rem;
  padding: 0 1rem;
}
section{
  height: 100vh;
  padding: 4.5rem 0 0 0;
  margin: 0 auto 2rem auto;
  text-align: center;
  border-radius: .2rem;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
}
.banner{
  color: #ffffff;
  background-image: url(../img/bannerSmall.jpg);
  background-position: center;
  background-size: cover;
  text-shadow: 1px 1px 1px #000;
}
.banner h1{
  padding-top: .5em;
  font-size: 2.5em;
}
.banner p{
  font-size: 1.75em;
}
.sobre{
  height: 105vh;
  color: #735959;
  text-shadow: 1px 1px 1px #000;
  background-image: url(../img/bgFotoSmall.jpg);
  background-size: cover;
  background-position: center;
}
.foto{
  height: 160px;
  width: 160px;
  margin: 0 auto;
  border-radius:  50%;
  border: 7px solid #3c3131;
  background-image: url(../img/andre_menor.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.resumo{
  padding: 1rem 1rem 0 1rem;
  text-align: center;
  line-height: 1em;
}
.resumo h2{
  font-size: 1.5em;
  font-family: 'Ubuntu',sans-serif;
  line-height: 1.15em;
  padding-bottom: 1rem;
}
.skills{
  font-size: 1.45rem;
  color: #d8ddec;
  margin-bottom: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  background: #464545;
}
.skills h1{
  font-size: 1.3em;
}
.skills div{
  height: 128px;
  margin: 2rem auto 0 auto;
  border-radius: .2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.html{
  background-image: url(../img/html5-logo.png);
  background-color: #f16529;
}
.css{
  background-image: url(../img/css3-logo.png);
  background-color: #347dc6;
}
.js{
  background-image: url(../img/js-logo.png);
  background-color: #ffda3d;
}
footer{
  background: #3c3131;
  height: 70px;
  padding: 11.5px;
}
footer ul{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
footer ul li{
  padding: 0 2rem;
  transition: all .3s linear;
}
footer a{
  color: #bcbec3;
  font-size: 2.5rem;
}
footer li a:hover{
  color: #fdfdfd;
}
/*Breakpoint  a patir de 481 até 740 pixels*/
@media screen and (min-width: 481px) and (max-width: 740px) {

  header{
    padding: 0 2rem;
  }
  header h1{
    padding: 1rem 0;
  }
  #dropdown-icon{
    right: 2rem;
  }
  .container {
    padding: 0 2rem;
  }
  .banner {
    margin-top: 70px;
    background-image: url(../img/bannerTablet.jpg);
}
.sobre{
  background-image: url(../img/bgFotoTablet.jpg);
}
.resumo h2{
  font-size: 2em;
  line-height: 1.3em;
}
.skills h1 {
    font-size: 1.4em;
}
}
/*Breakpoint  a patir de 741 a 960 pixels*/
@media screen and (min-width: 741px) and (max-width: 960px){

  header{
    padding: 0 4rem;
  }
  header h1{
    padding: 1rem 0;
  }
  #dropdown-icon{
    display: none;
  }
  nav{
    height: 70px;
    width: 50%;
    display: inline-block;
    position: inherit;
    right: 3rem;
    transition: all .1s linear;
  }
  nav ul{
    height: 70px;
    display: inline-block;
    width: auto;
    width: auto;
    position: absolute;
    right: 0;
  }
  nav ul li{
    display: inline-block;
    padding: 23px 1rem;
    width: auto;
    font-size: 1.3rem;
  }
  nav ul li a{
    font-size: 1.3rem;
    padding: 0;
  }
  nav > a{
    display: none;
  }
  .container {
    padding: 0 4rem;
  }
  .banner {
    margin-top: 70px;
    background-image: url(../img/bannerPc.jpg);
}
  .banner h1{
    font-size: 3.5em;
  }
  .sobre{
    background-image: url(../img/bgFotoPc.jpg);
  }
  .resumo h2{
    font-size: 2.5em;
    line-height: 1.3em;
  }
  .resumo p{
    line-height: 1.15em;
  }
  .skills h1 {
      font-size: 1.7em;
  }
}
/*Breakpoint  a patir de 961 a 1200 pixels*/
@media screen and (min-width: 961px) and (max-width: 1200px){

  header{
    padding: 0 6rem;
  }
  header h1{
    padding: 1rem 0;
  }
  #dropdown-icon{
    right: 6rem;
  }
  nav{
    height: 70px;
    width: 50%;
    display: inline-block;
    position: inherit;
    right: 5rem;
    transition: all .1s linear;
  }
  nav ul{
    height: 70px;
    display: inline-block;
    width: auto;
    width: auto;
    position: absolute;
    right: 0;
  }
  nav ul li{
    display: inline-block;
    padding: 23px 1rem;
    width: auto;
    font-size: 1.3rem;
  }
  nav ul li a{
    font-size: 1.3rem;
    padding: 0;
  }
  nav > a{
    display: none;
  }
  .container {
    padding: 0 6rem;
  }
  .banner {
    margin-top: 70px;
    background-image: url(../img/bannerFull.jpg);
}
.banner h1{
  font-size: 3.5em;
}
.sobre{
  background-image: url(../img/bgFotoFull.jpg);
}
.resumo h2{
  font-size: 2.5em;
  line-height: 1.3em;
}
.resumo p{
  line-height: 1.2em;
  font-size: 1.2em;
}
.skills h1 {
    font-size: 2em;
}
}
/*Breakpoint  a patir de 1201 pixels*/
@media screen and (min-width: 1201px){

  header{
    padding: 0 8rem;
  }
  header h1{
    padding: 1rem 0;
  }
  #dropdown-icon{
    right: 8rem;
  }
  nav{
    height: 70px;
    width: 50%;
    display: inline-block;
    position: inherit;
    right: 7rem;
    transition: all .1s linear;
  }
  nav ul{
    height: 70px;
    display: inline-block;
    width: auto;
    width: auto;
    position: absolute;
    right: 0;
  }
  nav ul li{
    display: inline-block;
    padding: 23px 1rem;
    width: auto;
    font-size: 1.3rem;
  }
  nav ul li a{
    font-size: 1.3rem;
    padding: 0;
  }
  nav > a{
    display: none;
  }
  .container {
    padding: 0 6rem;
  }
  .container {
    padding: 0 8rem;
  }
  .banner {
    margin-top: 70px;
    background-image: url(../img/bannerFull.jpg);
}
.banner h1{
  font-size: 3.5em;
}
.sobre{
  background-image: url(../img/bgFotoFull.jpg);
}
.resumo h2{
  font-size: 2.5em;
  line-height: 1.3em;
}
.resumo p{
  font-size: 1.35em;
  line-height: 1.15em;
}
.skills h1 {
    font-size: 2em;
}
}
