@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

body{
  background: lightblue;
}
header{
  height: 70px;
  background-color: transparent;
}
header:hover{
  transition: background-color 0.5s linear;
  background-color: #c4f1e5;
}
header h1{//escolher uma fonte legal e colocar um hover
  display: inline;
  font-family: 'Oswald',sans-serif;
  line-height: 50px;
  font-size: 2rem;
  font-weight: 700;
  color: #385c70;
  padding: .5rem 1rem;
}
/*início - estilo do ícone menu dropdown*/
header div{
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 16px;
}
header span{
  width: 28px;
  height: 4px;
  margin: 2px 0;
  background-color: #385c70;
  position: absolute;
  top: 11px;
  left: 1px;
  transition: .5s ease;
  border-radius: 2px;
}
header span:before, header span:after{
  content: '';
  width: 28px;
  height: 4px;
  background-color: #385c70;
  position: absolute;
  transition: .5s;
  border-radius: 2px;
}
header span:before{
  top: -8px;
}
header span:after{
  top: 8px;
}
/*animação com js - ícone menu dropdown*/
header span.ativo{
  background-color: transparent;
}
header span.ativo:before{
  top: 0;
  transform: rotate(45deg);
}
header span.ativo:after{
  top: 0;
  transform: rotate(-45deg);
}
/*animação slide do nav*/
nav{
  font-family: 'Julius Sans One', sans-serif;
  text-transform: uppercase;
  color: #385c72;
  text-align: center;
  font-size: 3rem;
  position: absolute;
  height: 0;
  width: 100vw;
  opacity: 0;
  transition: height 1s ease-in-out, opacity 1s ease-in-out;
  background-color: lightblue;
}
nav ul li{
  padding: 1rem;
}
nav ul li:hover{
  background-color:  #c4f1e5;
  transition: background-color .5s ease-in-out, font-size .3s ease-in-out;
}
nav ul li a{
  text-decoration: none;
  color: #385c72;
}
a.social{
  color: #385c72;
  font-size: 2.5rem;
  position: relative;
  top: 90px;
  padding: 0 1rem;
}
section.banner{
  background: #0f42ab;
  height: 100vh;
}
aside{
  background: darkgreen;
  height: 100vh;
}
main{
  background: orange;
  height: 100vh;
}
footer{
  background: firebrick;
  height: 50vh;
}
